<div class="recommendation">
  <li><%= link_to recommendation.title, category_recommendation_path(recommendation.category, recommendation) %> recommended by <%= link_to recommendation.user.name, user_path(recommendation.user) %></li>
</div>
